// Custom.scss

// Resume of https://getbootstrap.com/docs/4.1/getting-started/theming/

// Option A: Include all of Bootstrap

// Your variable overrides
$body-bg: #000;
$body-color: #111;

// Modify map
$theme-colors: (
    "primary": #0074d9,
    "danger": #ff4136
);

// Add to map
$theme-colors: (
    "custom-color": #900
);

// Remove from map
$theme-colors: map-remove($theme-colors, "info", "light", "dark");

// Functions
@function color($key: "blue") {
    @return map-get($colors, $key);
}

@function theme-color($key: "primary") {
    @return map-get($theme-colors, $key);
}

@function gray($key: "100") {
    @return map-get($grays, $key);
}

// Usage of fucntions
.custom-element {
    color: gray("100");
    background-color: theme-color("dark");
}

// Functions
@function theme-color-level($color-name: "primary", $level: 0) {
    $color: theme-color($color-name);
    $color-base: if($level > 0, #000, #fff);
    $level: abs($level);

    @return mix($color-base, $color, $level * $theme-color-interval);
}

// Usage
.custom-element {
    color: theme-color-level(primary, -10);
}

// Color contrast
@each $color, $value in $theme-colors {
    .swatch-#{$color} {
        color: color-yiq($value);
    }
}

//
.custom-element {
    color: color-yiq(#000); // returns `color: #fff`
}

//
.custom-element {
    color: color-yiq(theme-color("dark")); // returns `color: #fff`
}

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

//For more information go to documentation