.scrolled-nav {
    height: 200px !important;
    line-height: 200px !important;
}
.size-handler {
    height: 200px !important;
    line-height: 200px !important;
}

.navbar {
    min-height: 50px;
}