// avoid importing entire .scss as it might cause duplicate css styles
// @import '~bootstrap/scss/bootstrap.scss'
// safer to import variables and mixins only to avoid duplicate css styles
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

body{
  position: relative;
  background-color: green;
}

a{
  color: red;
}

.image-container{
  align-self: center;
}

.content{
  //border-radius: 0px;
  margin-top: 10rem;
  background-color: white;
}
@include media-breakpoint-up(sm) {
  .content {
    border-radius: 8px;
    background-color: white;
  }
}

.carousel-background {
  z-index: -10;
  position: fixed;
  width: 100vw;
  height: 100vh;
} 
.carousel-background .one {
  //background: url(assets/img/slide3blur.jpg);
  width: 110vw;
  height: 100vh;
  background-color:rgb(206, 158, 158);
  background-size: cover;
  //-moz-background-size: cover;
}
.carousel-background .two {
  //background: url(assets/img/slide2blur.jpg);
  width: 110vw;
  height: 100vh;
  background-color: rgb(158, 165, 206);
  background-size: cover;
  -moz-background-size: cover;
}

.carousel-inner {
  margin-top: 3rem;
}

.navEng {
  background-color: rgb(158, 165, 206);
}

.navMus {
  background-color: rgb(206, 158, 158);
}
